{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": ["airbnb-typescript"],
    "parserOptions": {
        "ecmaVersion": 2018,
        "ecmaFeatures": {
            "jsx": true,
            "tsx": true
        }
    },
    // "parser": "@typescript-eslint/parser",
    // "plugins": ["@typescript-eslint/eslint-plugin"]
}