{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": ["airbnb-typescript"],
    "parserOptions": {
        "ecmaVersion": 2018,
        "ecmaFeatures": {
            "jsx": true,
            "tsx": true
        }
    },
    "rules": {
        "react/prop-types": 0,
        "no-underscore-dangle": 0
    }
}